* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  padding: 60px;
  text-align: center;
  background: peru;
  color: white;
  font-size: 30px;
}
.box {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  column-gap: 2rem;
  line-height: 1.4rem;
}
#header {
  background: moccasin;
}
#footer {
  background: moccasin;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
